<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-grade-edit" th:object="${grade}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">矿工等级：</label>
                <div class="col-sm-8">
                    <input id="level" name="level" th:field="*{level}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">矿工等级名：</label>
                <div class="col-sm-8">
                    <input id="levelName" name="levelName" th:field="*{levelName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">最小升级条件：</label>
                <div class="col-sm-8">
                    <input id="minUpgrade" name="minUpgrade" th:field="*{minUpgrade}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">最大升级条件：</label>
                <div class="col-sm-8">
                    <input id="maxUpgrade" name="maxUpgrade" th:field="*{maxUpgrade}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">智能释放：</label>
                <div class="col-sm-8">
                    <input id="autoTransfer" name="autoTransfer" th:field="*{autoTransfer}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">等级增加奖励：</label>
                <div class="col-sm-8">
                    <input id="levelAward" name="levelAward" th:field="*{levelAward}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">太阳线代数：</label>
                <div class="col-sm-8">
                    <input id="generation" name="generation" th:field="*{generation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">商城开店空间：</label>
                <div class="col-sm-8">
                    <input id="shopSpace" name="shopSpace" th:field="*{shopSpace}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "app/grade"
		$("#form-grade-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
                $.modal.confirm("确定修改该信息吗？会导致系统变化，请谨慎操作", function() {
                    $.operate.save(prefix + "/edit", $('#form-grade-edit').serialize());
                });
			}
		});
	</script>
</body>
</html>
