<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="btn-group hidden-xs" id="toolbar" role="group">
        <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()"
           shiro:hasPermission="app:version:add">
            <i class="fa fa-plus"></i> 新增
        </a>
        <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()"
           shiro:hasPermission="app:version:remove">
            <i class="fa fa-trash-o"></i> 删除
        </a>
    </div>

    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('app:version:edit')}]];
    var removeFlag = [[${@permission.hasPermi('app:version:remove')}]];
    var systemTypeStatus = [[${@dict.getType('app_version_systemType_status')}]];//交易方式字典
    var prefix = ctx + "app/version"

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "应用版本",
            search: false,
            showColumns: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id主键'
                },
                {
                    field: 'version',
                    title: '版本',
                    sortable: true
                },
                {
                    field: 'apkUrl',
                    title: '下载路径'
                },
                {
                    field: 'iosId',
                    title: 'ios App Store 下载地址'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'systemType',
                    title: '系统类型',
                    formatter: function (value, row, index) {
                        console.log(value);
                        if(value==null || value == "" ){
                            return '<a class="badge badge-default">全部</a>'
                        }
                        return $.table.selectDictLabel(systemTypeStatus, value);
                    }
                },
                {
                    field: 'compel',
                    title: '是否强制更新',
                    formatter: function (value, row, index) {
                        if (value == "1" || value == 1) {
                            return '<a class="badge badge-success">是</a>';
                        } else {
                            return '<a class="badge badge-warning">否</a>';
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '上传时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>