<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">
    <div class="container-div">
			
		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('app:agreement:edit')}]];
        var prefix = ctx + "app/agreement";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "平台协议",
                search: false,
                showColumns:false,
                columns: [
                //     {
		        //     checkbox: true
		        // },
				{
					field : 'id',
					title : '主键id',
                    visible: false,
				},
				{
					field : 'textContent', 
					title : '协议内容',
                    align: 'center',
                    width:"85%",
				},
				// {
				// 	field : 'createTime',
				// 	title : '创建时间',
                //     sortable: true,
                //     align: 'center',
                //     width:"10%",
				// },
				// {
				// 	field : 'modifyTime',
				// 	title : '修改时间'
				// },
		        {
		            title: '操作',
		            align: 'center',
                    width:"",
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>