<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<!--<div class="btn-group hidden-xs" id="toolbar" role="group">-->
			<!--<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="app:information:add">-->
				<!--<i class="fa fa-plus"></i> 新增-->
			<!--</a>-->
			<!--<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()" shiro:hasPermission="app:information:remove">-->
				<!--<i class="fa fa-trash-o"></i> 删除-->
			<!--</a>-->
		<!--</div>-->
			
		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('app:information:edit')}]];
        var removeFlag = [[${@permission.hasPermi('app:information:remove')}]];
        var prefix = ctx + "app/information"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "系统参数",
                search: false,
                showColumns:false,
                columns: [
                //     {
		        //     checkbox: true
		        // },
				// {
				// 	field : 'id',
				// 	title : '主键'
				// },
				// {
				// 	field : 'dataName',
				// 	title : '数据名'
				// },
				{
                    field : 'labelText',
                    title : '字段说明'
				},
				{
                    field : 'dataValue',
                    title : '数据值'
				},
				// {
				// 	field : 'status',
				// 	title : '状态', //：0-隐藏，1-显示
				// 	formatter: function(value, row, index) {
				// 		return value;
				// 	}
				// },
				// {
				// 	field : 'createTime',
				// 	title : '创建时间'
				// },
				// {
				// 	field : 'modifyTime',
				// 	title : '修改时间'
				// },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>