<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="col-sm-12 select-info">
        <form id="balance-form">
            <div class="container-div">
                <div class="select-list">
                    <ul th:if="${ billId == null || billId == ''}">
                        <li>
                            交易id：<input type="text" name="orderId" th:if="${ orderId != null }" th:readonly="readonly" th:value="${ orderId }"/>
                                    <input type="text" name="orderId" th:if="${ orderId == null || orderId == ''}">
                        </li>
                        <li>
                            发起人手机号：<input type="text" name="orderUserName"/>
                        </li>
                        <li>
                            操作人手机号：<input type="text" name="optUserName"/>
                        </li>
                        <li>
                            订单状态：
                            <select name="billStatus" th:with="type=${@dict.getType('app_balance_bill_status')}">
                                <option value="">所有</option>
                                <option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>

                    <ul th:if="${ billId != null }">
                        <li>
                            订单明细id：
                            <input type="text" name="billId"  th:readonly="readonly" th:value="${ billId }"/>
                        </li>
                    </ul>

                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "/app/balanceOrder";
    var userStatus = [[${@dict.getType('app_balance_user_status')}]];//用户操作状态
    var billStatus = [[${@dict.getType('app_balance_bill_status')}]];//交易订单状态

    $(function () {
        var options = {
            url: prefix + "/billList",
            modalName: "资产交易明细列表",
            search: false,
            showColumns:false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'orderUserName',
                    title: '发起人手机号'
                },
                {
                    field: 'orderUserStatus',
                    title: '发起人状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(userStatus, value);
                    }
                },
                {
                    field: 'optUserName',
                    title: '操作人手机号'
                },
                {
                    field: 'optUserStatus',
                    title: '操作者状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(userStatus, value);
                    }
                },
                {
                    field: 'moneyAmount',
                    title: 'CNY'
                },
                {
                    field: 'amount',
                    title: '交易资产数量'
                },
                {
                    field: 'amountReal',
                    title: '实际获得资产数'
                },
                {
                    field: 'orderType',
                    title: '订单类型',
                    formatter: function (value, row, index) {
                        if(value == 1){
                            return '<span class="badge badge-primary">买单</span>';
                        }else if(value == -1){
                            return '<span class="badge badge-danger">卖单</span>';
                        }else{
                            return '<span class="badge badge-default">未知</span>';
                        }
                    }
                },
                {
                    field: 'billStatus',
                    title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(billStatus, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '时间',
                    sortable: true
                }]
        };
        $.table.init(options);
        $.table.search();
    });
</script>
</body>
</html>