<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-info">
                <form id="appUser-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                状态：
                                <select name="status" th:with="type=${@dict.getType('app_complaint_proposal_status')}">
                                    <option value="">所有</option>
                                    <option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>投诉建议时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group hidden-xs" id="toolbar" role="group">
                <a class="btn btn-outline btn-success btn-rounded" onclick="readByIds()" shiro:hasPermission="app:complaintProposal:add">
                    全标已读
                </a>
                <a class="btn btn-outline btn-danger btn-rounded" onclick="ignoreByIds()" shiro:hasPermission="app:complaintProposal:remove">
                    一键忽略
                </a>
            </div>

            <div class="col-sm-12 select-info table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('app:complaintProposal:edit')}]];
        // var removeFlag = [[${@permission.hasPermi('app:complaintProposal:remove')}]];
        var prefix = ctx + "app/complaintProposal";
        var statusObj = [[${@dict.getType('app_complaint_proposal_status')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "投诉建议",
                search: false,
                showColumns:false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id',
					title : '主键id',
                    visible: false,
				},
				// {
				// 	field : 'userId',
				// 	title : '投诉建议id',
                //     visible: false,
				// },
				{
					field : 'userName',
					title : '投诉建议用户'
				},
				{
					field : 'content', 
					title : '投诉建议内容',
                    formatter: function (value, row, index) {
                        var herf = "<a title='点击显示详情' style='font-weight: bold;' onclick='showDetail(";
                        herf += '"' + index + '"';
                        herf += ")' shiro:hasPermission='app:complaintProposal:showDetail'>";
                        herf += value.substr(0, 20) + "......</a>";
                        herf += "<div id='detail-" + index + "' class='hidden'><p>" + value + "<\P></div>";
                        return herf;
                    }
				},
				{
					field : 'status', 
					title : '投诉建议状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusObj, value);
                    }
				},
				{
					field : 'createTime', 
					title : '投诉建议时间',
                    sortable: true
				},
				// {
				// 	field : 'modifyTime',
				// 	title : '修改时间'
				// },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="read(\'' + row.id + '\')"><i class="fa fa-edit"></i>已读</a> ');
		            	actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="#" onclick="ignore(\'' + row.id + '\')"><i class="fa fa-edit"></i>忽略</a> ');
		            	actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="sendMsg(\'' + row.userId + '\', \'' + row.userName + '\')"><i class="fa fa-edit"></i>回复</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        function sendMsg(_userId, _userName) {
            var url = ctx + "app/acceptMessage/sendMsg?userId=" + _userId + "&userName=" + _userName;
            $.modal.open("给该用户发送消息", url);
        }

        function showDetail(index) {
            layer.open({
                type: 1,
                area: [500 + 'px', 400 + 'px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: "投诉建议详情",
                content: $("#detail-"+index).html(),
                // 弹层外区域关闭
                shadeClose: true
            });
        }
        
        function readByIds() {
            var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认要标记为已读选中的" + rows.length + "条数据吗?", function() {
                var url = prefix + "/readByIds/";
                var data = { "ids": rows.join() };
                $.operate.submit(url, "post", "json", data);
            });
        }

        function read(_id) {
            var url = prefix + "/readByIds/";
            var data = { "ids": _id+"," };
            $.operate.submit(url, "post", "json", data);
        }

        function ignore(_id) {
            var url = prefix + "/ignoreByIds/";
            var data = { "ids": _id+"," };
            $.operate.submit(url, "post", "json", data);
        }

        function ignoreByIds() {
            var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认要忽略选中的" + rows.length + "条数据吗?", function() {
                var url = prefix + "/ignoreByIds/";
                var data = { "ids": rows.join() };
                $.operate.submit(url, "post", "json", data);
            });
        }
    </script>
</body>
</html>