<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwt.persistent.mapper.BalanceConverRecordMapper">
	<resultMap id="BalanceConverRecordMap" type="com.cwt.domain.dto.balance.BalanceConverRecordDto">
		<id property="id" column="id"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="createTime" column="create_time"/>
		<result property="balanceRecordId" column="balance_record_id"/>
		<result property="converAmount" column="conver_amount"/>
		<result property="userId" column="user_id"/>
		<result property="status" column="status"/>
	</resultMap>

</mapper>