<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwt.persistent.mapper.GameCurrencyRecordMapper">
    <resultMap id="GameCurrencyRecordMap" type="com.cwt.domain.entity.GameCurrencyRecord">
        <id property="id" column="id"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="totalNum" column="total_num"/>
        <result property="createTime" column="create_time"/>
        <result property="changeType" column="change_type"/>
        <result property="userId" column="user_id"/>
        <result property="arithmeticType" column="arithmetic_type"/>
    </resultMap>

    <select id="selectGameCurrencyRecordByCondition" resultMap="GameCurrencyRecordMap">
        SELECT * FROM app_game_currency_record
        WHERE
          user_id = #{userId}
        <if test="changeType != null">
            AND change_type = #{changeType}
        </if>
        <if test="arithmeticType != null">
            AND arithmetic_type = #{arithmeticType}
        </if>
        GROUP BY create_time DESC
    </select>

    <resultMap id="GameCoinMapForBackend" type="com.cwt.domain.dto.gameCoin.GameCoinDTO">
        <id property="id" column="id"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="totalNum" column="total_num"/>
        <result property="createTime" column="create_time"/>
        <result property="changeType" column="change_type"/>
        <result property="userId" column="user_id"/>
        <result property="userMobile" column="user_name"/>
        <result property="arithmeticType" column="arithmetic_type"/>
    </resultMap>

    <select id="selectGameCoinListForBackend" resultMap="GameCoinMapForBackend">
        select g.id, g.user_id, g.total_num, g.change_type, g.arithmetic_type, g.create_time, g.modify_time, u.user_name
        from app_game_currency_record g left join app_user u on g.user_id = u.id
        <where>
            <!--<if test="id != null and id != ''"> and id = #{id}</if>-->
            <!--<if test="userId != null and userId != ''"> and user_id = #{userId}</if>-->
            <!--<if test="totalNum != null and totalNum != ''"> and total_num = #{totalNum}</if>-->
            <if test="userMobile != null and userMobile != ''"> and u.user_name = #{userMobile}</if>
            <if test="changeType != null and changeType != ''"> and change_type = #{changeType}</if>
            <if test="arithmeticType != null and arithmeticType != ''"> and arithmetic_type = #{arithmeticType}</if>

            <!--<if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>-->
            <!--<if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime}</if>-->
        </where>
        
    </select>
</mapper>