<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwt.persistent.mapper.UserReFundMapper">

    <resultMap id="UserReFundResult" type="com.cwt.domain.entity.UserReFund">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="businessId" column="businessId"/>
        <result property="orderId" column="orderId"/>
        <result property="fee_ct" column="fee_ct"/>
        <result property="fee_integral" column="fee_integral"/>
        <result property="refund_status" column="refund_status"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <select id="selectUserReFundInfo" parameterType="java.lang.String" resultMap="UserReFundResult">
        SELECT * FROM app_user_refunds WHERE userId=#{fromId} and businessId=#{toId} and orderId=#{orderId}
    </select>

    <resultMap id="UserRefundListMap" type="com.cwt.domain.dto.store.UserRefundListPO">
        <result property="userId" column="userId"/>
        <result property="businessId" column="businessId"/>
        <result property="orderId" column="orderId"/>
        <result property="fee_ct" column="fee_ct"/>
        <result property="fee_integral" column="fee_integral"/>
        <result property="refund_status" column="refund_status"/>
        <result property="remark" column="remark"/>
        <result property="modify_time" column="modify_time"/>
    </resultMap>

    <select id="selectUserRefundList" resultMap="UserRefundListMap" parameterType="com.cwt.domain.dto.store.UserRefundDTO">
        SELECT
        u.user_name userId,
        t.orderId orderId,
        t.businessId,
        t.fee_ct,
        t.fee_integral,
        t.refund_status,
        t.remark,
        t.modify_time
        FROM
        app_user_refunds t
        left join app_user u on t.userId = u.id
        <where>
            <if test="telephone != null and telephone !=''">
                u.user_name = #{telephone}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and t.orderId = #{orderNo}
            </if>
            <if test="status != null and status != ''">
                and t.refund_status = #{status}
            </if>
            <if test="beginTime != null">
                and t.modify_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and t.modify_time &lt;= #{endTime}
            </if>
        </where>
    </select>



</mapper>